*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #081b29;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 600;
    color: #ededed;
    text-decoration: none;
}
.navbar a{
    font-size: 18px;
    text-decoration: none;
    color: #ededed;
    margin-left: 35px;
    transition: 3s;
}
.navbar a:hover{
    color:navy;
}
.home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0  10px;
   
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
}
.home-content h3{
    font-size: 32px;
    font-weight: 600;
    color: #00b1f0;
}
.home-content p {
    font-size: 16px;
    margin: 28px 0 48px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-around;
    width: 345px;
    height: 50px;
    
}
.btn-box a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #00b1f0;
    width: 150px;
    height: 100%;
    border: 2px solid #00b1f0;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 19px;
    font-weight: 600;
    color: #081b29;
    position: relative;
}
