*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #081b29;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 600;
    color: #ededed;
    text-decoration: none;
}
.navbar a{
    font-size: 18px;
    text-decoration: none;
    color: #ededed;
    margin-left: 35px;
    transition: 3s;
}
.navbar a:hover{
    color:navy;
}
.home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0  10px;
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #ededed;
}
.home-content h3{
    font-size: 32px;
    font-weight: 600;
    color: #00b1f0;
}
.home-content p {
    font-size: 19px;
    color: #ededed;
}
